<mat-toolbar>
  <span class="title">Edit Project</span>
</mat-toolbar>

<section class="container">
  <header>
    <h1>{{ project()?.name }}</h1>
    <div class="heading-container">
      <h2>Floors</h2>
      <button mat-icon-button (click)="addFloor()" matTooltip="Add Floor">
        <mat-icon svgIcon="plus"></mat-icon>
      </button>
    </div>
  </header>
  <mat-nav-list>
    @for (floor of project()?.floors; track floor.id) {
    <mat-list-item (click)="apartmentSelectionForm.patchValue({ id: floor.id })">
      <h3 matListItemTitle>{{ floor.name }}</h3>
      <button mat-icon-button matListItemMeta (click)="removeFloor(floor.id)" matTooltip="Remove Floor">
        <mat-icon svgIcon="delete"></mat-icon>
      </button>
    </mat-list-item>
    }
  </mat-nav-list>
  @if (apartmentFloor(); as floor) {
  <div>
    <app-designer [floor]="floor" (furnitureAdded)="addFurniture($event)" (furnitureRemoved)="removeFurniture($event)" (furnitureUpdated)="updateFurniture($event)">
    </app-designer>
  </div>
  }
</section>